div.tooltip {
  z-index:1000;
  visibility: hidden;
  position: absolute;
  background-color:#eeeeee;
  padding: 10px 20px;
  border-radius: 5px;
  border: solid 1px #333333;
  cursor: pointer;
  color: #333333;
  font-family: 'Rambla', sans-serif;
  font-size: 14px;
  line-height: 20px;
  box-shadow: 0px 0px 2px 2px #666;
}
#map {
  cursor: pointer;
}
.vis {
  z-index:1000;
  visibility: hidden;
  position: absolute;

}

#burstMode {
    cursor: pointer;
    position:relative;
    float:right;
    right:15px;
    top:15px; 
    padding:5px 20px 5px 20px;
    background-color:#666666;
    border-radius:5px;
    font-size:12px;
    font-weight:bold;
    width:76px;
    text-align:center;
    z-index:3000;
    font-family: 'Rambla', sans-serif;
    color:#999999;
}
#burstMode.available:hover {
  background-color:#993333;
  color:#ffffff;
}
#burstMode.available {
  background-color:#990000;
  color:#ffffff;
}
#burstMode.active {
  background-color:#ff0000;
  border: solid 2px #ffffff;
  padding: 3px 18px 3px 18px;
}
#burstMode.active:hover {
  background-color:#ff0000;
  border: solid 2px #ffffff;
  padding: 3px 18px 3px 18px;
}
#next {
    cursor: pointer;
    position:relative;
    float:right;
    clear:both;
    right:10px;
    top:15px; 
    padding:5px 20px 5px 20px;
    background-color:#ffa500;
    border-radius:5px;
    font-size:12px;
    font-weight:bold;
    font-family: 'Rambla', sans-serif;
    color:#ffffff;
    width:76px;
    text-align:center;
    z-index:3000
}
#next.disabled {
  background-color:#666666;
  color:#999999;
}
#next.disabled:hover {
  background-color:#666666;
  color:#999999;
}
#next:hover {
  color:#333333;
  background-color:#ffc733;
}
#loadingbg {
  background-color:#666666;
  position:absolute;
  z-index:3100;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0.7;
  filter:alpha(opacity=70); 
}
#loading{
  position:absolute;
  width:660px;
  z-index:3101;
  left:-340px;
  margin-left:50%;
  margin-top:-260px;
  top:50%;
  background-color:#ffffff;
  padding:20px;
  font-family: 'Rambla', sans-serif;
  height:500px;
  border-radius:10px;
  border:solid 2px #333333;
  box-shadow: 0px 0px 5px 5px #999999;
  text-align:justify;
  font-size: 14px;
  line-height:20px;
}
#close {
  width:16px;
  height:16px;
  position:absolute;
  right:10px;
  top:10px;
  background-image: url('../img/close.png');
  cursor: pointer;
}

#tooltip_legend {
  position: absolute;
  top:70px;
}
#tooltip_burst {
  position: absolute;
  top:280px;
}
.arrow_box {
	background: #ffffff;
	right:265px;
	padding:10px 20px;
	z-index:3000;
	border-radius: 5px;
	border: 1px solid #333333;
	font-family: 'Rambla', sans-serif;
	font-size: 12px;
	display: none;
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 10px;
	margin-top: -10px;
}
.arrow_box:before {
	border-color: rgba(51, 51, 51, 0);
	border-left-color: #333333;
	border-width: 11px;
	margin-top: -11px;
}
